-var nombre="Alejandra Noemi"
-var city="México"
-var followers="80k"
-var likes="20 k"
-var photos="1.4k"
doctype html 
html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="css/main.css")
    body 
        .widget1 
        .widget2
        main 
            .banner 
            .image 
                img(src="https://st.depositphotos.com/1001992/1623/i/950/depositphotos_16233623-stock-photo-adult-woman-with-beautiful-face.jpg")
            .dates 
                h4= nombre
                p= city
                span
            .social
                p= followers
                p= likes 
                p= photos
                p followers 
                p likes 
                p photos
            //- .family 
            //-     p followers 
            //-     p likes 
            //-     p photos
        